# Logs
logs
*.log
.DS_Store
tmp

# Runtime data
pids
*.pid
*.seed

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
.running
*~


# npm
node_modules
*.log
*.gz
package-lock.json